{% extends "base.html" %} {% block content %}
<div class="flex flex-col justify-center text-stone-700 lg:pt-20">
  <h1 class="text-stone-300 text-6xl font-bold text-center mb-6 mt-2">
    02:18:07
  </h1>
  <h2 class="text-5xl font-bold text-center mb-3">Sarajevo</h2>
  <p class="text-sm italic text-center">
    sri, 4. juni 2025 / 8. zu-l-hidždže 1446
  </p>
  <div
    class="flex flex-col lg:flex-row justify-center lg:justify-evenly lg:px-8 xl:px-16"
  >
    <div class="mt-8">
      <h4 class="text-center text-2xl">Zora</h4>
      <h3 class="text-center text-5xl font-bold">02:47</h3>
      <h4 class="text-center text-base">prije 15 sati</h4>
    </div>
    <div class="mt-8">
      <h4 class="text-center text-2xl">Zora</h4>
      <h3 class="text-center text-5xl font-bold">02:47</h3>
      <h4 class="text-center text-base">prije 15 sati</h4>
    </div>
    <div class="mt-8">
      <h4 class="text-center text-2xl">Zora</h4>
      <h3 class="text-center text-5xl font-bold">02:47</h3>
      <h4 class="text-center text-base">prije 15 sati</h4>
    </div>
    <div class="mt-8">
      <h4 class="text-center text-2xl">Zora</h4>
      <h3 class="text-center text-5xl font-bold">02:47</h3>
      <h4 class="text-center text-base">prije 15 sati</h4>
    </div>
    <div class="mt-8">
      <h4 class="text-center text-2xl">Zora</h4>
      <h3 class="text-center text-5xl font-bold">02:47</h3>
      <h4 class="text-center text-base">prije 15 sati</h4>
    </div>
    <div class="mt-8">
      <h4 class="text-center text-2xl">Zora</h4>
      <h3 class="text-center text-5xl font-bold">02:47</h3>
      <h4 class="text-center text-base">prije 15 sati</h4>
    </div>
  </div>
</div>
{% endblock %}
