<!-- peak htmx-ing -->
<div
  class="flex flex-col justify-center text-stone-700 lg:pt-20"
  hx-get="/vaktija?latitude={{request_info.latitude}}&longitude={{request_info.longitude}}&timezone={{request_info.timezone}}"
  hx-trigger="load delay:{{next_prayer_in}}s"
  hx-swap="outerHTML"
>
  <h1
    id="time"
    class="text-stone-300 text-6xl font-bold text-center mb-6 mt-2"
    data-timestamp="{{next_prayer_since_epoch}}"
  >
    :(
  </h1>
  <h2 class="text-5xl font-bold text-center mb-3">{{place}}</h2>
  <p class="text-sm italic text-center">{{date}}</p>
  <div
    class="flex flex-col lg:flex-row justify-center lg:justify-evenly lg:px-8 xl:px-16"
  >
    {% for time in vakat %}
    <div class="mt-8">
      <h4 class="text-center text-2xl">{{time.name}}</h4>
      <h3 class="text-center text-5xl font-bold text-{{time.get_color()}}">
        {{time.absolute_time()}}
      </h3>
      <h4
        class="text-center text-base kasno"
        data-timestamp="{{time.since_epoch()}}"
      >
        kasnooo
      </h4>
    </div>
    {% endfor %}
  </div>
  <script type="module" src="/public/vaktija.js"></script>
  <script type="module">
    import { init } from "/public/vaktija.js";
    init();
  </script>
</div>
