<div class="flex flex-col justify-center text-stone-700 lg:pt-20">
  <h1 class="text-stone-300 text-6xl font-bold text-center mb-6 mt-2">
    02:18:07
  </h1>
  <h2 class="text-5xl font-bold text-center mb-3">{{place}}</h2>
  <p class="text-sm italic text-center">{{date}}</p>
  <div
    class="flex flex-col lg:flex-row justify-center lg:justify-evenly lg:px-8 xl:px-16"
  >
    {% for time in vakat %}
    <div class="mt-8">
      <h4 class="text-center text-2xl">{{time.name}}</h4>
      <!-- <h3 class="text-center text-5xl font-bold">{{time.absolute_time()}}</h3> -->
      <h3 class="text-center text-5xl font-bold">
        {{"{:.2}"|format(time.hours)}}
      </h3>
      <h4 class="text-center text-base">{{time.relative_time()}}</h4>
    </div>
    {% endfor %}
  </div>
</div>
